extends layout

block content

  h1= title

  form(method=POST)
    label(for='firstName') First Name:
    input(type='text', id='firstName', for='firstName', name='firstName')

    label(for='lastName') Last Name:
    input(type='text', id='lastName', for='lastName', name='lastName')
    
    label(for='username') Username:
    input(type='text', id='username', for='username', name='username')

    label(for='password') Password:
    input(type='text', id='password', for='password', name='password')

    button(type='submit') Submit
